{{ block global_styles }}
        <link rel="stylesheet" href="{{ static 'styleResults.css' }}">
{{ endblock }}

{{ block title }}
Continuous double auction market - pre market information
{{ endblock }}

{{ block content }}

<p>Soon the round nr. {{ player.round_number }} starts.</p>

    <table id="results" class="table_box">
    <tr>
        <th>Your role</th>
        <td id="traderRole">
            {{ if not player.active }} Inactive observer {{ elif player.informed }} Informed trader {{ else }} Uninformed trader {{ endif }}
        </td>
    </tr>
    <tr id="informationRow"> {{ if player.informed }}
        <th>Your information</th>
        <td> {{ if player.informed }} The asset is worth {{ else }} {{ endif }}<span id="informationValue">{{ player.information }}</span></td>
    {{ else }} {{ endif }}</tr>
    <tr>
        <th>Initial asset endowment</th>
        <td id="assetsHolding">{{ player.assetsHolding }}</td>
    </tr>
    <tr> {{ if player.allowShort }}
        <th>Your short selling limit</th>
        <td id="capShort">
            {{ player.capShort }}
        </td>
    {{ else }} {{ endif }}
    </tr>
    <tr>
        <th>Initial money endowment</th>
        <td id="cashHolding">{{ player.cashHolding }}</td>
    </tr>
    <tr> {{ if player.allowShort }}
        <th>Your credit limit</th>
        <td id="capLong">{{ player.capLong }}</td>
    {{ else }} {{ endif }}
    </tr>
    </table>

    {{ next_button }}
{{ endblock }}


