{{ block global_scripts }}
        <script src="{{ static 'script.js' }}"></script>
        <script src="{{ static 'scriptSAssetInfo.js' }}"></script>
{{ endblock }}

{{ block global_styles }}
        <link rel="stylesheet" href="{{ static 'styleResults.css' }}">
{{ endblock }}

{{ block title }}
Continuous double auction market - pre market information
{{ endblock }}

{{ block content }}
<noscript>
    <div id="jsError">ERROR: this page runs only with javascript enabled</div>
</noscript>

<p>Soon round nr. {{ player.round_number }} starts.</p>

<div id="endowmentDiv" class="endowment-container row" style="margin-bottom: 35px" >
    <div class="endowment-div col-sm div_box">

    <table id="endowmentTable">
    <tr>
        <th>Your role</th>
        <td id="traderRole">
            {{ if not player.isObserver }} Inactive observer {{ elif player.informed }} Informed trader {{ else }} Uninformed trader {{ endif }}
        </td>
    </tr>
    <tr>
        <th>Initial asset endowment</th>
        <td id="assetsHolding">{{ player.assetsHolding }}</td>
    </tr>
    <tr> {{ if player.allowShort }}
        <th>Your short selling limit</th>
        <td id="capShort"> {{ player.capShort }}
        </td>
    {{ else }} {{ endif }}
    </tr>
    <tr>
        <th>Initial money endowment</th>
        <td id="cashHolding">{{ player.cashHolding }}</td>
    </tr>
    <tr> {{ if player.allowShort }}
        <th>Your credit limit</th>
        <td id="capLong">{{ player.capLong }}</td>
    {{ else }} {{ endif }}</tr>
    </table>
    </div>
    {{ if player.informed }}
    <div class="assetValues col-sm div_box">
        <h4>Your information about coins</h4>
        <table id="information" class="table_box"><thead><tr><th>Amount</th><th>Nominal value</th></tr></thead><tbody></tbody></table>
    </div>
    {{ else }} {{ endif }}
</div>

    {{ next_button }}
{{ endblock }}


