#endowmentTable th {
    text-align: left;
    font-weight: normal;
}

#endowmentTable td {
    text-align: right;
    font-weight: bold;
}

#bidsTable th, #bidsTable td,
#asksTable th, #asksTable td {
    min-width: 65px;
}

#bidsTable thead tr,
#asksTable thead tr {
    display: block;
    border-width: 0;
}

#bidsTable tbody,
#asksTable tbody,
#newsTable,
#tradesTable {
    display: block;
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#bidsTable tbody tr,
#asksTable tbody tr {
    margin: auto;
    border-width: 1px;
}

.div_box {
    margin-bottom: 35px;
    text-align: center;
    border: 2px solid lightgray;
}

.table_box {
    margin: auto;
    margin-bottom: 35px;
    text-align: center;
}

.small-numbers {
    width: 65px;
    text-align: right;
}

#jsError {
    color: red;
    margin-bottom: 30px;
}
